::ng-deep .mat-form-field-infix {
    padding: 0rem;
}

.chip-input {
    min-height: 48px;
}

mat-form-field {
    min-width: 45%;
}

.holder {
    background-color: lightgray;
    border-radius: 10px;
    padding: 7px;
    margin: 7px 0 7px 7px;
    vertical-align: middle;
    float: left;
}

.holder:hover {
    background-color: gray;
}

.holder i {
    position: relative;
    cursor: pointer;
    font-weight: bold;
    margin-left: 8px;
    font-size: 12px;
    vertical-align: middle;
}
